.elements-filters {
    background-color: #161616;
    padding: 5px;
    margin-bottom: 10px;

    &__title {
        font-weight: 400;
    }

    &__button {
        margin: 3px;
        padding: 3px;
        cursor: pointer;
    }
}


.color-all {
	background-color: #FFFFFF;
}

.color-1 {
	background-color: #CCFF90;
}

.color-2 {
	background-color: #FF8A80;
}

.color-3 {
	background-color: #B388FF;
}

.color-default {
	background-color: #FFFFFF;
}


.active {
    outline: 2px solid #FFFFFF;
}