// ПЕРЕМЕННЫЕ:
$fontFamilyMain: "Roboto", Arial, Helvetica, sans-serif; // основное семейство шрифта
$fontStyleMain: normal; // основной стиль шрифта
$fontWeightMain: normal; // основная жирность шрифта
$fontSizeMain: 20px; // основной размер шрифта
$lineHeightMain: 1.5; // основная высота между текстом
$fontColorMain: #FFFFFF; // основной цвет шрифта

$placeholderColorMain: #707070; // основной цвет подсказки (при наведении или в input)

$borderColorMain: #FDFDFD; // основной цвет бордера

$backgroundColorMain: #000000; // основной цвет фона

$maxWidthContentNumber: 1440; // максимальная ширина только контента (это не ширина макета)
$maxWidthContentPX: 1440px; // максимальная ширина только контента (это не ширина макета)

$minWidthContentNumber: 320; // минимальная ширина контента
$minWidthContentPX: 320px; // минимальная ширина контента

// ДОПОЛНИТЕЛЬНЫЕ ПЕРЕМЕННЫЕ ДЛЯ ЭТОГО ПРОЕКТА:
// $breakpointHeaderMenu: 767.98px;


